In [63]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT
    * 
FROM 
    LOCATIONS 
WHERE 
    has_solar_data = 2
AND 
    dlgf_prop_class_code LIKE '6%%'
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

,location_id,has_solar_data,latitude,longitude,dlgf_prop_class_code,geofulladdress,geocity,geostate,geozip,geocounty,geobg10,geobg20
0,17074,2,40.947835,-85.167608,686,14623 BLUFFTON RD,YODER,IN,46798,ALLEN,180030117022.0,180030117022.0
1,17155,2,40.948628,-85.167635,686,14607 BLUFFTON RD,YODER,IN,46798,ALLEN,180030117022.0,180030117022.0
2,17542,2,40.954864,-85.224270,669,13930 COVERDALE RD,YODER,IN,46798,ALLEN,180030117013.0,180030117013.0
3,17665,2,40.959649,-85.281774,686,11015 LAFAYETTE CENTER RD,ROANOKE,IN,46783,ALLEN,180030117013.0,180030117013.0
4,17673,2,40.959643,-85.216266,669,0 W FERGUSON RD,YODER,IN,46809,ALLEN,180030117022.0,180030117022.0
...,...,...,...,...,...,...,...,...,...,...,...,...
48432,3291004,2,39.239337,-86.625291,699,6151 N MATTHEWS DR UNIT 410,ELLETTSVILLE,IN,47429,MONROE,181050013031.0,181050013031.0
48433,3291005,2,39.239337,-86.625291,699,6151 N MATTHEWS DR UNIT 411,ELLETTSVILLE,IN,47429,MONROE,181050013031.0,181050013031.0
48434,3291287,2,39.227452,-86.617584,640,4616 N CAMPBELL PARK RD,ELLETTSVILLE,IN,47429,MONROE,181050013043.0,181050013043.0
48435,3291288,2,39.224624,-86.614133,640,4586 N HARTSTRAIT RD,ELLETTSVILLE,IN,47429,MONROE,181050013043.0,181050013051.0
48436,3291335,2,39.222248,-86.633656,640,4810 N ANGELA WAY,BLOOMINGTON,IN,47404,MONROE,181050013041.0,181050013041.0

In [60]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT 
    location_id, latitude, longitude, has_solar_data
FROM 
    LOCATIONS 
WHERE 
    location_id NOT IN (SELECT location_id FROM GOOGLE_SOLAR) 
AND 
    has_solar_data = 0
AND 
    dlgf_prop_class_code LIKE '6%%'
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

Empty DataFrame
Columns: [location_id, latitude, longitude, has_solar_data]
Index: []