In [27]:
import sqlite3
import pandas as pd

# Codes to exclude (vacant/empty properties)
vacant_property_codes = [
    100, 300, 400,    # agricultural, industrial, commercial vacant land/parcels
    500, 501, 502, 503, 504,    # residential vacant lots (platted & unplatted)
    505                   # large‐acre vacant residential & support‐land parcels
]

conn = sqlite3.connect('community_solar.db')
placeholders = ",".join(str(c) for c in vacant_property_codes)

query = f"""
SELECT
    *
FROM 
    LOCATIONS
WHERE 
 dlgf_prop_class_code IN ({placeholders})
"""

df = pd.read_sql_query(query, conn)
conn.close()
df

,location_id,has_solar_data,latitude,longitude,dlgf_prop_class_code,geofulladdress,geocity,geostate,geozip,geocounty,geobg10,geobg20
0,33,1,40.588744,-84.941469,300,10841 S COUNTY ROAD 50 W,DECATUR,IN,46740,ADAMS,180010307002.0,180010307002.0
1,40,1,40.665312,-84.950378,500,105 W PARR RD,BERNE,IN,46711,ADAMS,180010306002.0,180010306002.0
2,79,1,40.742562,-85.065307,500,6689 STATE ROAD 124,DECATUR,IN,46733,ADAMS,180010305004.0,180010305004.0
3,92,1,40.599733,-84.962114,500,135 SHORE,DECATUR,IN,46740,ADAMS,180010307003.0,180010307003.0
4,93,1,40.832749,-84.931694,300,806 NUTTMAN AVE,DECATUR,IN,46733,ADAMS,180010302002.0,180010302002.0
...,...,...,...,...,...,...,...,...,...,...,...,...
139497,3291395,0,39.212721,-86.604022,100,4442 N SEABISCUIT CIR,BLOOMINGTON,IN,47404,MONROE,181050013051.0,181050013051.0
139498,3291396,0,39.212936,-86.604084,100,4444 N SEABISCUIT CIR,BLOOMINGTON,IN,47404,MONROE,181050013051.0,181050013051.0
139499,3291397,0,39.213180,-86.604129,100,4446 N SEABISCUIT CIR,BLOOMINGTON,IN,47404,MONROE,181050013051.0,181050013051.0
139500,3291398,0,39.213383,-86.604256,100,4448 N SEABISCUIT CIR,BLOOMINGTON,IN,47404,MONROE,181050013051.0,181050013051.0
139501,3291399,0,39.211457,-86.602778,100,4325 N PREAKNESS LN,BLOOMINGTON,IN,47404,MONROE,181050013051.0,181050013051.0

In [25]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT
    * 
FROM 
    LOCATIONS 
WHERE 
    has_solar_data != 0
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

,location_id,has_solar_data,latitude,longitude,dlgf_prop_class_code,geofulladdress,geocity,geostate,geozip,geocounty,geobg10,geobg20
0,1,1,40.917392,-85.045578,511,11990 N COUNTY ROAD 550 W,DECATUR,IN,46733,ADAMS,180010301001.0,180010301001.0
1,2,1,40.919167,-84.974199,511,1850 W COUNTY ROAD 1200 N,DECATUR,IN,46733,ADAMS,180010301002.0,180010301002.0
2,3,1,40.875888,-84.925602,101,750 E COUNTY ROAD 900 N,DECATUR,IN,46733,ADAMS,180010301004.0,180010301004.0
3,4,1,40.853995,-84.925247,499,7455 N PIQUA RD,DECATUR,IN,46733,ADAMS,180010301004.0,180010301004.0
4,5,1,40.853538,-84.987716,101,2585 W COUNTY ROAD 750 N,DECATUR,IN,46733,ADAMS,180010301002.0,180010301002.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4025,2470438,1,37.831063,-87.671020,100,0 OLD HENDERSON RD,EVANSVILLE,IN,47712,VANDERBURGH,181630104033.0,181630104061.0
4026,2493160,1,37.835373,-87.628316,100,15343 OLD HENDERSON RD,EVANSVILLE,IN,47712.0,VANDERBURGH,181630104033.0,181630104061.0
4027,2496080,1,37.834593,-87.633982,100,15545 OLD HENDERSON RD,EVANSVILLE,IN,47712.0,VANDERBURGH,181630104033.0,181630104061.0
4028,2496081,1,37.842088,-87.661032,100,14115 SEMINARY RD,EVANSVILLE,IN,47712.0,VANDERBURGH,181630104033.0,181630104061.0
4029,2496392,1,37.844856,-87.665357,100,14133 SEMINARY RD,EVANSVILLE,IN,47712.0,VANDERBURGH,181630104033.0,181630104061.0

In [21]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT
    * 
FROM 
    LOCATIONS 
WHERE 
    has_solar_data = 2
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

,location_id,has_solar_data,latitude,longitude,dlgf_prop_class_code,geofulladdress,geocity,geostate,geozip,geocounty,geobg10,geobg20
0,1351649,2,39.606029,-85.973397,101,8736 N COUNTY ROAD 700 E,ACTON,IN,46259,JOHNSON,180816101001.0,180816101011.0
1,1351650,2,39.606214,-85.971796,511,8752 N COUNTY ROAD 700 E,ACTON,IN,46259,JOHNSON,180816101001.0,180816101011.0
2,1351684,2,39.604123,-85.973405,101,8586 N COUNTY ROAD 700 E,ACTON,IN,46259,JOHNSON,180816101001.0,180816101011.0
3,1363691,2,39.596650,-85.971106,101,7969 N COUNTY ROAD 700 E,ACTON,IN,46259,JOHNSON,180816101002.0,180816101012.0
4,1364258,2,39.608076,-85.971845,101,8924 N COUNTY ROAD 700 E,ACTON,IN,46259,JOHNSON,180816101001.0,180816101011.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1108,1945505,2,41.424985,-87.070308,510,70 SHEILA LN,VALPARAISO,IN,46385,PORTER,181270510022.0,181270510101.0
1109,1945506,2,41.424967,-86.987914,510,403 CREEKWOOD DR,VALPARAISO,IN,46383,PORTER,181270510022.0,181270510102.0
1110,1945507,2,41.425014,-86.986492,510,62 NILES DR,VALPARAISO,IN,46383,PORTER,181270510022.0,181270510102.0
1111,2251487,2,37.788321,-87.111485,429,6842 S STATE ROAD 161,ROCKPORT,IN,47635,SPENCER,181479530002.0,181479530004.0
1112,2251488,2,37.787987,-87.111726,429,6842 S STATE ROAD 161,ROCKPORT,IN,47635,SPENCER,181479530002.0,181479530004.0

In [12]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT 
    location_id, latitude, longitude, has_solar_data
FROM 
    LOCATIONS 
WHERE 
    location_id NOT IN (SELECT location_id FROM GOOGLE_SOLAR) 
AND 
    has_solar_data = 0
AND 
    dlgf_prop_class_code LIKE '6%%'
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

      location_id   latitude  longitude  has_solar_data
0         3074602  39.791413 -86.145262               0
1         3074610  39.834396 -86.001928               0
2         3074611  39.816039 -86.081824               0
3         3074614  39.815075 -86.082264               0
4         3074646  39.879468 -86.202615               0
...           ...        ...        ...             ...
9098      3291004  39.239337 -86.625291               0
9099      3291005  39.239337 -86.625291               0
9100      3291287  39.227452 -86.617584               0
9101      3291288  39.224624 -86.614133               0
9102      3291335  39.222248 -86.633656               0

[9103 rows x 4 columns]

In [33]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT 
    *
FROM 
    PROPERTY_CODES
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

,property_code_id,property_code,description,name,date_added
0,1,600,EXEMPT PROPERTY OWNED BY THE UNITED STATES OF ...,Federal Exempt Property,2025-04-26 23:13:22
1,2,610,EXEMPT PROPERTY OWNED BY THE STATE OF INDIANA,State Exempt Property,2025-04-26 23:13:22
2,3,620,EXEMPT PROPERTY OWNED BY A COUNTY,County Exempt Property,2025-04-26 23:13:22
3,4,621,EXEMPT PROPERTY CERTIFIED FOR TREASURER’S SALE,Treasurer-Sale Exempt Property,2025-04-26 23:13:22
4,5,622,EXEMPT PROPERTY HELD FOR RESALE,Resale-Held Exempt Property,2025-04-26 23:13:22
5,6,630,EXEMPT PROPERTY OWNED BY A TOWNSHIP,Township Exempt Property,2025-04-26 23:13:22
6,7,640,EXEMPT PROPERTY OWNED BY A MUNICIPALITY,Municipal Exempt Property,2025-04-26 23:13:22
7,8,645,EXEMPT PROPERTY OWNED BY A MUNICIPAL HOUSING A...,Housing Authority Exempt Property,2025-04-26 23:13:22
8,9,650,EXEMPT PROPERTY OWNED BY A BOARD OF EDUCATION,School Board Exempt Property,2025-04-26 23:13:22
9,10,660,EXEMPT PROPERTY OWNED BY A PARK DISTRICT,Park District Exempt Property,2025-04-26 23:13:22
10,11,661,EXEMPT PROPERTY OWNED BY A CONSERVANCY DISTRICT,Conservancy District Exempt Property,2025-04-26 23:13:22
11,12,662,EXEMPT PROPERTY OWNED BY A SANITARY DISTRICT,Sanitary District Exempt Property,2025-04-26 23:13:22
12,13,665,EXEMPT PROPERTY OWNED BY A PUBLIC LIBRARY,Public Library Exempt Property,2025-04-26 23:13:22
13,14,669,OTHER EXEMPT PROPERTY OWNED BY A GOVERNMENTAL ...,Other Government Exempt Property,2025-04-26 23:13:22
14,15,670,EXEMPT PROPERTY OWNED BY A PRIVATE ACADEMY OR ...,Private Academy Exempt Property,2025-04-26 23:13:22
15,16,680,EXEMPT PROPERTY OWNED BY A CHARITABLE ORG THAT...,Charitable Org Exempt Property,2025-04-26 23:13:22
16,17,685,EXEMPT PROPERTY OWNED BY A RELIGIOUS ORG THAT ...,Religious Org Exempt Property,2025-04-26 23:13:22
17,18,686,"CHURCH, CHAPEL, MOSQUE, SYNAGOGUE, TABERNACLE,...",Place of Worship Exempt Property,2025-04-26 23:13:22
18,19,690,EXEMPT PROPERTY OWNED BY A CEMETERY ORG THAT I...,Cemetery Exempt Property,2025-04-26 23:13:22
19,20,699,OTHER EXEMPT PROPERTY OWNED BY AN ORG THAT IS ...,Other Nonprofit Exempt Property,2025-04-26 23:13:22

In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('community_solar.db')
query = """
SELECT 
    location_id, latitude, longitude, has_solar_data
FROM 
    LOCATIONS 
WHERE 
    location_id IN (SELECT location_id FROM GOOGLE_SOLAR) 
AND 
    dlgf_prop_class_code LIKE '6%%'
"""
df = pd.read_sql_query(query, conn)
conn.close()
df

       location_id   latitude  longitude  has_solar_data
0            17074  40.947835 -85.167608               2
1            17155  40.948628 -85.167635               2
2            17542  40.954864 -85.224270               2
3            17665  40.959649 -85.281774               2
4            17673  40.959643 -85.216266               2
...            ...        ...        ...             ...
33386      2605505  37.948081 -87.405326               2
33387      2605507  37.946594 -87.412119               2
33388      2605515  37.947858 -87.413785               2
33389      2605547  37.947495 -87.414668               2
33390      2605587  37.947189 -87.406758               2

[33391 rows x 4 columns]